<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.xyls.dao.user.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.hw.xyls.pojo.user.Login" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uname, password, login_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_login
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey1" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id, uname, login_time
    from tb_login
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_login
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hw.xyls.pojo.user.Login" >
    insert into tb_login (id, uname, password, 
      login_time)
    values (#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hw.xyls.pojo.user.Login" >
    insert into tb_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hw.xyls.pojo.user.Login" >
    update tb_login
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hw.xyls.pojo.user.Login" >
    update tb_login
    set uname = #{uname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="checkIsExists" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tb_login
    WHERE uname = #{uname,jdbcType=VARCHAR}
  </select>
</mapper>